<div id="flash-messages">
  <% flash.each do |key, message| %>
    <div class="flash-message <%= key %>">
      <button class="flash-close" aria-label="Close">&times;</button>
      <p class="mb-0 pe-3"><%= message %></p>
    </div>
  <% end %>
</div>
